body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
}

article {
  position: relative;
  margin: 100px auto;
  width: 976px;
  height: 720px;
  display: block;
  padding: 24px;
  font-size: 60px;
  background: #EEE;
}

.bold { font-weight: bold; }

code {
  display: inline-block;
  box-sizing: padding-box;
  font-family: Consolas, monaco, monospace;
  padding: 20px;
  margin: 20px;
  width: 920px;
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
}

.top-row { position: absolute; top: 270px; }
.mid-row { position: absolute; top: 330px; }
.bot-row { position: absolute; top: 390px; }


/*************************/
/* Slide-specific styles */
/*************************/
.option-javascript-is {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-bottom: 20px solid rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  display: inline-block;
}
.option-javascript-is:first-child { margin-left: 350px; }

/*********************/
/* Navigation helper */
/*********************/
#nav {
  position: fixed;
  right: 0;
  top: 200px;
}

#nav > li {
  font-size: 12px;
  line-height: 16px;
  display: block;
  height: 16px;
  border-right: 5px solid black;
  margin: 2px 20px 2px 0;
  padding-right: 10px;
  text-align: right;
  opacity: 0.25;
}

#nav > li.active {
  opacity: 0.5;
}